main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: grid;
    width: 31.25em;
    height: 31.25em;
    border: 10px solid #808080;
}

.settings {
    margin: 1.25em;
}

.gridclear {
    background-color: #FFFFFF;
}